.card-foods {
  align-items: center;
  background-color: #e5e5e5;
  border-radius: 10px;
  box-shadow: 4px 4px 8px -4px black;
  display: flex;
  flex-direction: column;
  height: 170px;
  justify-content: center;
  margin-bottom: 20px;
  overflow-y: auto;
  padding: 10px;
  width: 134px;
}

.card-foods:hover {
  box-shadow: inset 4px 4px 12px #c5c5c5 , inset -4px -4px 12px white;
}

.name-food {
  font-family: Poppins , sans-serif;
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.card-foods img {
  border-radius: 8px;
  margin-top: 15px;
  width: 80%;
}

::-webkit-scrollbar {
  width: 12px;
}
