.done-recipe-image {
  border-radius: 8px;
  height: 100px;
  margin: 0 30px;
  width: 100px;
}

.cards-done {
  align-items: center;
  background-color: #e5e5e5;
  border-radius: 10px;
  box-shadow: 4px 4px 8px -4px black;
  display: flex;
  flex-direction: column;
  height: 180px;
  margin-bottom: 20px;
  width: 300px;
}

.container-done {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.done-card {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  text-decoration: none;
}

.done-recipe {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 360px;
}

.cards-done:hover {
  box-shadow: inset 4px 4px 12px #c5c5c5 , inset -4px -4px 12px white;
}

.type-name {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  justify-content: space-evenly;
}

.name-done {
  margin-bottom: 15px;
}

.filter-done {
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px 8px -4px black;
  font-family: Poppins , sans-serif;
  font-size: 20px;
  margin: 0 10px 30px;
  width: 100px;
}

.filter-done:hover {
  box-shadow: inset 4px 4px 12px #c5c5c5 , inset -4px -4px 12px white;
}

.info-done {
  line-height: 1.7;
  margin-top: 30px;
}

.share {
  background: transparent;
  border: none;
  margin-top: 10px;
}
