.explore-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 90px;
}

.explore-btn {
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px 8px -4px black;
  font-family: Poppins , sans-serif;
  font-size: 25px;
  margin: 20px;
  padding: 30px;
}

.explore-btn:hover {
  box-shadow: inset 4px 4px 12px #c5c5c5 , inset -4px -4px 12px white;
}
