.header header {
  align-items: center;
  background-color: rgb(255, 137, 41);
  display: flex;
  height: 70px;
  justify-content: space-around;
  position: fixed;
  width: 360px;
}

.search, .profile {
  background: transparent;
  border: none;
}

.header h1 {
  font-family: Comfortaa , cursive;
  font-weight: 300;
  text-transform: uppercase;
}

.profile-svg {
  fill: white;
}
