* {
  margin: 0;
  padding: 0;
}

.login-container {
  align-items: center;
  background-image: url('../images/tela-login.png');
  display: flex;
  flex-direction: column;
  height: 640px;
  justify-content: center;
  width: 360px;

}

.login-form {
  align-items: center;
  background-color: rgba(173, 172, 172, 0.466);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 220px;
  margin-top: 400px;
  width: 300px;
}

.login-form input {
  background: none;
  border: none;
  border-bottom: 1px solid rgb(255, 102, 0);
  color: black;
  font-size: 15px;
  font-weight: 800;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.login-form input:focus {
  background: none;
  border-bottom: 3px solid #ff5e00;
  outline: none;
}

.login-form label {
  color: rgb(36, 36, 36);
  display: flex;
  flex-direction: column;
  font-family: Quicksand , sans-serif;
  margin: 10px 20px;
}

.submit {
  background-color: transparent;
  border: 2px solid #fc8600;
  color: rgb(146, 71, 0);
  font-family: Fredoka One , cursive;
  font-size: 16px;
  overflow: hidden;
  padding: 0.5em 4.3em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
  z-index: 1;
}

.submit:before {
  background: #fc8600;
  content: '';
  display: block;
  height: 500%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: 1s ease;
  width: 0;
  z-index: -1;
}

.submit:hover:before {
  width: 105%;
}

.submit:hover {
  color: #111;
}
